/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------!!!!!Styling Beginning!!!!----------*/

html{
    height:100%;
}
h1{
    font-weight: bold;
    font-size: 24px;
    padding:10px;
}

body{
    background-color:#555;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.6em;
    margin:0;
    min-height:100%;
    display:flex;
    flex-direction:column;
    }

.image{
    float:left;
}
.container{
    width: 80%;
    margin:auto;
    margin-top:20px;
    overflow:hidden;
    border-radius: 1%;
       ;
            }

#header{
    background-color:#333;
    width: 100%;
            }

#namebox{
    background-color: coral;
    color: #fff;
    position: absolute;
    font-weight: bold;
    padding:15px 15px 15px 25px;
    width: 110px;
        }

#navbar{
        clear: both;
    text-align: right;
    color: #fff;
    background-color: #333;
    padding:15px;
        }

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
    padding-right: 15px;
}

#main-footer{
    width: 100%;
    background-color:#333;
    padding-top:15px;
    margin-top: auto;
   
}

#footcontent{
    color:#eee;
    position: relative;
       }

#contactform{
    text-align: center;
}

#portfolioBox{
    background-color:#333;
    text-align: center;
    margin:20px;
    position:relative;
    box-shadow: 6px 3px 3px #333;
    border-radius:15px;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    padding:25px;
    opacity: .75;
}

div.box1{
    background-image: url("./images/1859175.gif");
    padding: 15px;
    width:100px;
    height:100px;
    margin:15px;
    float:left;
    position: relative;
    text-align:center
}

div.box2{
    background-image:url("./images/dark_dragon_avatar_picture_21528.jpg");
    color:#eee;
    padding: 15px;
    width:100px;
    height:100px;
    margin:15px;
    float:left;
    position:relative;
}

div.box3{
    clear:both;
    background-image:url("./images/100x100falloutav-ch.gif");
    padding: 15px;
    width:100px;
    height:100px;
    float:left;
    margin:15px;
    position: relative;
}

div.box4{
    background-image:url("./images/0038.gif");
    padding: 15px;
    width:100px;
    height:100px;
    float:left;
    margin:15px;
    position: relative;
}

#table1{
    clear:both;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    margin:20px;
}

#portfolioBody{
    background-image:url("./images/berube-jonathan-berube-art-director-matte-192.jpg")
}
.porthead{
    color:#eee;
}

.box1txt{
    background-color: rgba(0,0,0,.75);
    position: absolute;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    left:0px;
    bottom:5px;
    ;
}
.box2txt{
    background-color: rgba(0,0,0,.75);
    width: 100%;
    position: absolute;
    left:0px;
    padding-top:5px;
    padding-bottom:5px;
    bottom:5px;

}

.box3txt{
    background-color: rgba(0,0,0,.75);
    position: absolute;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    left:0px;
    bottom:5px;

}

.box4txt{
    background-color: rgba(0,0,0,.75);
    position: absolute;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    left:0px;
    bottom:5px;

}

.box1txt a{
    color:#eee;
}

.box2txt a{
    color:#eee;
}

.box3txt a{
    color:#eee;
}

.box4txt a{
    color:#eee;
}

input{
    width:80%;
}

#contactBody{
    background-color:#555;
}

#contactform{
    background-color:#eee;
    border-radius:5px;
    width:560px;
}

textarea{
    width:90%;
    margin:15px;
}

.image{
    border-radius: 45%;
    margin:10px;
}

.contentP{
    padding:20;
    margin-left:auto;
    
}

#mainContent{
    background-color:#555;
    border: #333 solid 1px;
    max-width: 960px;
}

#indexBody{
    background-color:#555;
}

#mainContent{
    background-color:#eee;
    Margin-bottom:20px;
    box-shadow: 2px 2px 6px#333;
    padding:50px;

}

.boldText{
    font-weight: bold;
}

.italText{
    font-style:italic; 
}